/*! custom Font*/
font-url(package, filename)
  return 'https://cdn.jsdelivr.net/npm/' + package + '/fonts/' + filename

customfont(family, package, filename)
  @font-face
    font-family family
    font-weight normal
    font-style normal
    src url(font-url(package, filename + '.eot'))
    src url(font-url(package, filename + '.eot?#iefix')) format('embedded-opentype'),
    url(font-url(package, filename + '.svg#'+ family)) format('svg'),
    url(font-url(package, filename + '.woff')) format('woff'),
    url(font-url(package, filename + '.ttf')) format('truetype')

customfont(font-custom-family, font-custom-package, font-custom-filename)

/*! icon Font */
iconfont(family, package, filename, font-icon-version)
  @font-face
    font-family family
    font-style normal
    font-weight normal
    src url(font-url(package, filename + ".eot?v=#" + font-icon-version))
    src url(font-url(package, filename + ".eot?#iefix&v=#" + font-icon-version)) format("embedded-opentype"),
         url(font-url(package, filename + ".woff?v=#" + font-icon-version)) format("woff"),
         url(font-url(package, filename + ".ttf?v=#" + font-icon-version)) format("truetype"),
         url(font-url(package, filename + ".svg#fontawesomeregular?v=#" + font-icon-version)) format("svg")

iconfont(font-icon-family, font-icon-package, font-icon-filename, font-icon-version)

// customfont(font-icon-diao,font-icon-diao-filename)